* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*===========================FONT FACE CUSTOM========================*/
@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('../fonts/Gotham/GothamBook.woff') format('woff');
}
/*====================================================================*/

h1{
	font-family: 'Orbitron', sans-serif;
	color: #fff;
	background: 
		linear-gradient(
		to right,
		rgba(255,255,255,0),
		rgba(255,255,255,0.15));
	text-shadow: 3px 3px #242222;
}

#tattooshop{
	background: url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 60vh;
	width: 100%;
}

#contacts{
	background: url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	width: 100%;
}

.tatshop_head{
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5rem;
}

.tatshop_head a:hover{
	color: #c71f1f;
}

.logo-wrap{
	height: 65vh;
	padding-top: 10vh;
}

#forMoble{
	background: url("../img/REDIMUS PRIME LOGO_500x314.png");
	width: 500px;
	height: 314px;
	margin-left: 32%;
}

#navvy{
	text-align: center;
	flex-direction: column;
	background:
		linear-gradient(
		to right,
		rgba(255,255,255,0),
		rgba(255,255,255,0.15));
}

.navbar-light .navbar-nav .nav-item .nav-link{
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5em;
	color: #fff;
	text-shadow: 2px 2px #242222;
	letter-spacing: 3px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover{
	color: #000;
}


.navbar-light .navbar-nav .nav-item .nav-link:after{
	content:'  \00B7';
	align-content: center;
}

.navbar-light .navbar-nav .nav-item .nav-link.last:after{
	content:'';
}

.hero-banner1{
	background: url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.hero-banner2{
	background: url("../img/Red_Emerald_Galaxy.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.span_text{
	font-weight: bold;
}

#sect_about{
	border-left: 2px dotted #fff;
	height: 80vh;
	font-family: 'Gotham Book';
	text-align: justify;
	padding-top: 100px;
	width: 100%;
}

#portimg1,#portimg2,#portimg3,
#portimg4,#portimg5,#portimg6,
#portimg7,#portimg8,#portimg9,
#portimg10,#portimg11,#portimg12,
#portimg13,#portimg14,#portimg15{
	height: 150px;
	width: 18.8%;
}

#portimg1{
	background: url("../img/portfolios/1.jpg");
	background-size: cover;
	margin-left: 3%;
}

#portimg2{
	background: url("../img/portfolios/2.jpg");
	background-size: cover;
}

#portimg3{
	background: url("../img/portfolios/3.jpg");
	background-size: cover;
}

#portimg4{
	background: url("../img/portfolios/4.jpg");
	background-size: cover;
}

#portimg5{
	background: url("../img/portfolios/5.jpg");
	background-size: cover;
}

#portimg6{
	background: url("../img/portfolios/6.jpg");
	background-size: cover;
	margin-left: 3%;
}

#portimg7{
	background: url("../img/portfolios/7.jpg");
	background-size: cover;
}

#portimg8{
	background: url("../img/portfolios/8.jpg");
	background-size: cover;
}

#portimg9{
	background: url("../img/portfolios/9.jpg");
	background-size: cover;
}

#portimg10{
	background: url("../img/portfolios/10.jpg");
	background-size: cover;
}

#portimg11{
	background: url("../img/portfolios/11.jpg");
	background-size: cover;
	margin-left: 3%;
}

#portimg12{
	background: url("../img/portfolios/12.jpg");
	background-size: cover;
}

#portimg13{
	background: url("../img/portfolios/13.jpg");
	background-size: cover;
}

#portimg14{
	background: url("../img/portfolios/14.jpg");
	background-size: cover;
}

#portimg15{
	background: url("../img/portfolios/15.jpg");
	background-size: cover;
}

#seemore1{
	height: 150px;
	width: 100%;
}


#seemore1 a{
	text-decoration: none;
	color: #fff;
	font-size: 2.5rem;
}

#seemore1 a:hover{
	color: #c71f1f;
}



#tat_img1{
	background: url("../img/tattoo/Emerald Logo_509X350px.png");
	background-size: cover;
	height: 150px;
	width: 218px;
	margin-left: 25%;
}

#tat_img2{
	background: url("../img/tattoo/Union Logo_341X350px.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 150px;
	width: 146px;
	margin-left: 35%;
}

a.tat_anch{
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem;
}

.tat_anch:hover{
	color: #c71f1f;
	text-decoration: none;
}

.cont_p1{
	color: #fff;
	font-family: "Montserrat";
	font-size: 1.2rem;
	font-weight: bold;
	text-shadow: 1px 1px #242222;
}

.cont_p1 a{
	text-decoration: none;
	color: #fff;
}

.cont_p1 a:hover{
	color: #000;
}

#bcktoTop{
	position: fixed;
	height: 50px;
	width: 50px;
	visibility: hidden;
	bottom: 70px;
	right: 30px;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	background-color: #c71f1f;
}

.fa-angle-double-up{
	position: fixed;
	bottom: 80px;
	right: 45px;
	color: #fff;
	font-size: 2rem;
}

#bcktoTop:hover{
	background-color: #fff;
}

#bcktoTop:hover .fa-angle-double-up{
	color: #c71f1f;
}


.fa-angle-double-up:hover{
	color: #c71f1f;
}

@keyframes fadein{
	from { opacity: 0; }
	to { opacity: 1; }
}

#bcktoTop.show {
	animation: fadein 2s;
	opacity: 1;
	visibility: visible;
}

footer{
	background-color: #000;
	height: 50px;
	width: 100%;
	padding-top: 10px;
}

a.foot_menu{
	text-decoration: none;
	color: #fff;
}

a.foot_menu:hover{
	text-decoration: none;
	color: #c71f1f;
}

/*==================IPAD PRO SETTINGS=======================*/
@media screen and (max-width: 1200px){
	#tat_img1{
		background-size: cover;
		height: 352px;
		width: 50%;
		margin: 0;
	}

	#tat_img2{
		background-size: contain;
		background-repeat: no-repeat;
		height: 525.5px;
		width: 50%;
		margin: 0;
	}
}


/*==================MOBILE SETTINGS=======================*/
@media screen and (max-width: 800px){

	#forMoble{
		background: url("../img/REDIMUS PRIME LOGO_500x314.png");
		background-size: cover;
		width: 500px;
		height: 314px;
		margin-left: 25%;
	}

	.logo-wrap{
		height: 50vh;
		width: 500px;
	}

	#sect_about p{
		font-size: 0.7rem;
		text-align: justify;
	}

	#about,
	#portfolio,
	#tattooshop,
	#affiliations{
		height: 70vh;
		width: 100%;
	}

	#contacts{
		height: 50vh;
		width: 100%;
	}

	a.tat_anch{
		color: #fff;
		text-decoration: none;
		font-size: 1.5rem;
	}

	.tat_anch:hover{
		color: #c71f1f;
		text-decoration: none;
	}

	#tat_img1{
		background-size: cover;
		height: 264px;
		width: 50%;
		margin: 0;
	}

	#tat_img2{
		background-size: contain;
		background-repeat: no-repeat;
		height: 394px;
		width: 50%;
		margin: 0;
	}

	a.foot_menu{
		font-size: 0.7rem;
	}

	.fa-angle-double-up {
		font-size: 3.7em;
	}

	#bcktoTop{
		height: 60px;
		width: 60px;
	}

	#bcktoTop{
		bottom: 70px;
		right: 25px;
	}

	.fa-angle-double-up {
		bottom: 73px;
		right: 37px;
	}

}

/*==================MOBILE SETTINGS=======================*/
@media screen and (max-width: 420px){

	h1{
		font-size: 1.5rem;
	}

	#forMoble{
		background: url("../img/REDIMUS PRIME LOGO_500x314.png");
		background-size: cover;
		width: 250px;
		height: 157px;
		margin-left: 15%;
	}

	.logo-wrap{
		height: 250px;
		width: 100%;
	}

	.fa-bars{
		color: #fff;
		font-size: 2em;
	}

	#about,
	#portfolio,
	#tattooshop,
	#affiliations{
		height: 70vh;
		width: 100%;
	}

	#contacts{
		height: 50vh;
		width: 100%;
	}

	#seemore1 a{
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}

	#tat_img1{
		background: url("../img/tattoo/Emerald Logo_509X350px.png");
		background-size: cover;
		height: 142px;
		width: 50%;
		margin: 0;
	}

	#tat_img2{
		background: url("../img/tattoo/Union Logo_341X350px.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 211px;
		width: 50%;
		margin: 0;
	}

	#portimg1,
	#portimg2,
	#portimg3,
	#portimg4,
	#portimg5,
	#seemore1{
		height: 150px;
		width: 32%;
		margin-left: 1%;
	}

	footer{
		height: 50px;
		width: 100%;
		font-size: 0.6rem;
	}

	#bcktoTop{
		bottom: 70px;
		right: 12px;
	}

	.fa-angle-double-up {
		bottom: 73px;
		right: 20px;
	}


	.fa-angle-double-up {
		font-size: 1.5em;
	}

	#bcktoTop{
		height: 30px;
		width: 30px;
	}

}

@media screen and (max-width: 380px){
	#tat_img1{
		height: 124px;
		width: 50%;
	}

	#tat_img2{
		height: 184.75px;
		width: 50%;
	}

}


@media screen and (max-width: 320px){

	#tat_img1{
		background: url("../img/tattoo/Emerald Logo_509X350px.png");
		background-size: cover;
		height: 115px;
		width: 50%;
	}

	#tat_img2{
		background: url("../img/tattoo/Union Logo_341X350px.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 164.75px;
		width: 50%;
	}

	#about,
	#portfolio,
	#tattooshop,
	#contacts,
	#affiliations{
		height: 70vh;
		width: 100%;
	}

}